@use "../abstract" as *;
@use "../base" as *;
@use "../component" as *;
@use "../layout" as *;
@use "../vendor" as *;

.header{
  background-image: url('../../img/wood-bg.jpg');
  background-repeat: no-repeat;
  position: relative;
   @include imgCover(80rem,100%);
  @include mediaQuery{
   @include imgCover(59.2rem,100%);
  }
    &__wrapper{ 
        @include flex (space-between,center);
        img{
            @include imgCover(unset,8rem);
            
        }
        ul{
            margin-block: 0;
            margin: 0;
            padding-inline-start: 0;
            @include mediaQuery{
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        
    }
    .toggle__button{
        display: none;
        @include mediaQuery{
            display: block;
        }
            span{
                display: block;
                background-color: $clr--light;
                width: 4rem;
                height: .5rem;

                &:nth-child(2){
                    margin: .5rem 0;
                }
                
            }
        }
    &__title{
        margin: 6rem 0;
        h1, h3{
            color: $clr--light;
            text-align: center;
        }
        h3{
            line-height: normal;
        }
    }
   
    .ramen{
        position: absolute;
        bottom: 0;
        left: 10%;
        @include mediaQuery{
            left: 0;
        }
        
    }
     &__nav{
        @include mediaQuery{
          position: absolute;
          left: 0;
          top: 0;
          background-color: $clr--dark;
          width: 100%;
        }
        
    }
    &__button{
        background-color: $clr--primary;
        padding: .5rem 1rem;
        font-weight: 500;
        @include mediaQuery{
            display: none;
        }
    }
}

.order{
    &__wrapper{
        margin: 7rem 0;
        h2{
            color: $clr--accent;
            text-align: center;
            margin-bottom: 5rem;
        }
        .order__img{
            @include grid(5);
            @include mediaQuery{
                @include grid(1);
            }
            
            h4{
                margin: 1rem;
            }
            .arrow{
                text-align: center;
                font-size: 3rem;
                color: $clr--accent;
                margin-top: 5rem;
                @include mediaQuery{
                    transform: rotate(90deg);
                }
            }
        }
    }
    &__details{
        text-align: center;
        img{
            @include mediaQuery{
                width: 50%;
                margin: 0 auto;
            }
        }
       
    }
}

.menu{
    background-color: $clr--primary;
     padding: 10rem 0;

     &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    &__title{
        h2{
            color: $clr--light;
            text-align: center;
            margin-bottom: 7rem;
            font-weight: 900;
        }
    }
    &__card{
        @include grid(2, 5rem);
        margin-left: 0;
        @include mediaQuery{
            @include grid(1, 5rem);
        }
    }
    &__details{
        @include flex (space-between,start);
        @include mediaQuery{
            flex-direction: column-reverse;
            @include flex (space-between,center);
        }
            
            h2{
                color: black;
                font-weight: normal;
            }
            h3{
                color: $clr--accent;
            }
            p{
                color: $clr--light;
            }
    }
    &__content{
        width: 70%;
        @include mediaQuery{
            width: 100%;
            text-align: center;
        }
    }
    a{
        background-color: $clr--dark;
        padding: 1rem;
        font-weight: bold;
        margin-top: 5rem;
    }
     &__img{
        img{
            width: 150px;
        }
    }
}

.join{
    &__wrapper{
        margin: 7rem 0;
        h2, p{
            text-align: center;
        }
        h2{
            color: $clr--accent;
            margin-bottom: 0;
        }
        p{
            color: $clr--primary;
            font-weight: bold;
            margin-bottom: 5rem;
        }
        
    }
    img{
        @include imgCover(500px,100%) 
    }
}

.footer{
    background-color: $clr--dark;
    padding: 5rem 0;
    &__wrapper{
       @include flex(space-between,center);
        @include mediaQuery{
            flex-direction: column;
            gap: 2rem;
         
        }
    }
    &__social{
        font-size: 3rem;
        i{
             margin: 0 1rem 0 0;
             color: $clr--primary;
        }
    }
    &__button{
        a{
            background-color: $clr--primary;
            padding: 1rem;
            font-weight: bold;
        }   
    }
    &__contact{
        text-align: center;
        @include mediaQuery{
            text-align: center;
        }
    }
}