:root{
    --light: #fff;
    --primary: #f7ad4c;
    --accent: #e10137;
    --dark: #433e3b;
}


$clr--light: var(--light);
$clr--dark: var(--dark);
$clr--primary: var(--primary);
$clr--accent: var(--accent);

$clr--white: #fff;

$sm: "42rem";
$md: "92rem";
$lg: "144rem";
$xl: "180rem";